
.md-toolbar-tools .navbar {
    background: url("../images/bar.svg") 0 0 no-repeat;
    width: 25px;
    height: 20px;
    display: block;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.md-toolbar-tools .navnotification {
    background: url("../images/notification.svg") 0 0 no-repeat;
    width: 28px;
    height: 37px;
    display: block;
    background-size: 100%;
    padding: 0;
    margin: 0;
}
