<h1 class="register-title" translate="TITLE_SIGNUP"></h1>

<div class="error">{{data.error}}</div>

<md-input-container class="md-icon-float md-block">
  <label translate="USERNAME"></label>
  <input name="user_name" ng-model="data.username" type="text">
  <div class="error">{{data.errors.user_name}}</div>
</md-input-container>

<md-input-container class="md-icon-float md-block">
  <label translate="PASSWORD"></label>
  <input ng-model="data.password" type="password">
  <div class="error">{{data.errors.user_password}}</div>
</md-input-container>

<md-input-container class="md-icon-float md-block" ng-if="ConfigSrvc.passwordRetype()">
  <label translate="PASSWORD_RETYPE"></label>
  <input ng-model="data.password_retype" type="password">
  <div class="error">{{data.errors.password_retype}}</div>
</md-input-container>

<md-input-container class="md-icon-float md-block" ng-if="ConfigSrvc.emailActivation()">
  <label translate="EMAIL"></label>
  <input ng-model="data.email" type="email">
  <div class="error">{{data.errors.user_email}}</div>
</md-input-container>

<div class="tos-line" ng-if="ConfigSrvc.tosForced()">
    <input type="checkbox" ng-model="data.tos" id="cbx" style="display: none;">
    <label for="cbx" class="check">
        <svg width="24px" height="24px" viewBox="0 0 18 18">
            <path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path>
            <polyline points="1 9 7 14 15 4"></polyline>
        </svg>
    </label>
    <span class="lup-tos-line" compile="data.tosLine"></span>
    <div class="error">{{data.errors.tos}}</div>
</div>

<md-input-container class="md-icon-float md-block" ng-if="ConfigSrvc.signupCaptcha()">
  <img ng-src="{{captchaUrl()}}" />
</md-input-container>
<md-input-container class="md-icon-float md-block" ng-if="ConfigSrvc.signupCaptcha()">
  <label translate="CAPTCHA"></label>
  <input ng-model="data.captcha" type="text">
  <div class="error">{{data.errors.captcha}}</div>
</md-input-container>

<section layout="row" flex>
  <md-button type="submit" class="md-primary md-raised login-button" ng-click="register()" translate="BTN_REGISTER"></md-button>
</section>
<section layout="row" flex>
  <md-button ng-click="gotoLogin()" class="md-primary md-raised backtologin" translate="BACK_TO_LOGIN"></md-button>
</section>
