<md-sidenav
 style="overflow: scroll;"
 class="md-sidenav-left"
 md-component-id="left"
 md-is-locked-open="$mdMedia('gt-lg')"
 md-whiteframe="4"
 flex>

  <md-toolbar class="sidenav-brand">
   <div class="md-toolbar-tools">
    <i class="material-icons nav-close" ng-click="closeLeft()" ng-if="!$mdMedia('gt-lg')" aria-label="Menü schließen">menu</i>
    <div><h1>LinkUUp</h1><span>Zusammen unterwegs</span></div>
   </div>
  </md-toolbar>

  <md-content>
	<div class="sidebar-user-card" ng-if="data.ownUser.isAuthed()" ng-click="gotoOwnProfile()">
	  <lup-avatar ng-user="data.ownUser"></lup-avatar>
	  <div><strong>{{data.ownUser.displayName()}}</strong><span>Mein LinkUUp</span></div>
	  <i class="material-icons">chevron_right</i>
	</div>
    
	<md-list class="md-dense" flex layout="column">
	  <md-subheader class="md-no-sticky sidebar-section-title" ng-if="data.ownUser.isAuthed()">Entdecken</md-subheader>

	  <md-list-item class="md-1-line nav-discover" ng-click="gotoNearbyRooms()" ng-if="data.ownUser.isAuthed()">
	    <i class="material-icons nav-icon">explore</i>
			<p>{{'TITLE_LOCATIONS'|translate}}</p>
	  </md-list-item>

	  <md-list-item class="md-1-line nav-friends" ng-click="gotoFriends(data.ownUser)" ng-if="data.ownUser.isAuthed()">
	    <i class="material-icons nav-icon">groups</i>
			<p>{{data.friendsCount}} {{'TITLE_FRIENDS'|translate}}</p>
	  </md-list-item>

	  <md-list-item class="md-1-line nav-private-messages" ng-click="gotoMessages()" ng-if="data.ownUser.isAuthed()">
	    <i class="material-icons nav-icon">forum</i>
			<p>{{data.pmCount}} {{'TITLE_PRIVATE_MESSAGES'|translate}}</p>
	  </md-list-item>
	  
	  <md-list-item class="md-1-line" ng-click="gotoRegister()" ng-if="!data.ownUser.isAuthed()">
	    <i class="material-icons nav-icon">person_add</i>
		<p>{{'BTN_REGISTER'|translate}}</p>
	  </md-list-item>

	  <md-subheader class="md-no-sticky sidebar-section-title" ng-if="data.ownUser.isAuthed()">Verwaltung</md-subheader>

	  <md-list-item class="md-1-line nav-settings" ng-click="gotoSettings()" ng-if="data.ownUser.isAuthed()">
	    <i class="material-icons nav-icon">settings</i>
		<p>{{'TITLE_SETTINGS'|translate}}</p>
	  </md-list-item>

	  <md-list-item class="md-1-line nav-account" ng-click="gotoAccount()" ng-if="data.ownUser.isAuthed()">
	    <i class="material-icons nav-icon">manage_accounts</i>
		<p>{{'TITLE_ACCOUNT'|translate}}</p>
	  </md-list-item>

	  <md-list-item class="md-1-line nav-credits" ng-click="gotoBuyCredits()" ng-if="data.ownUser.isAuthed()">
	    <i class="material-icons nav-icon">toll</i>
		<p>{{data.ownUser.credits()}} {{'TITLE_CREDITS'|translate}}</p>
	  </md-list-item>

	  <md-list-item class="md-1-line nav-add-room" ng-click="gotoAddRoom()" ng-if="data.ownUser.isAuthed()" ng-class="{'lup-vip-locked': !data.ownUser.isVIP()}">
	    <i class="material-icons nav-icon">add_circle_outline</i>
		<p>{{'TITLE_ADD_ROOM'|translate}}</p>
	  </md-list-item>

	  <md-list-item class="md-1-line nav-logout" ng-click="logout()" ng-if="data.ownUser.isAuthed()">
	    <i class="material-icons nav-icon">logout</i>
		<p>{{'BTN_LOGOUT'|translate}}</p>
	  </md-list-item>

      <!-- Debug -->
      <div ng-if="LUP_CONFIG.debug">
		  <md-subheader class="md-no-sticky sidebar-section-title">{{'DEBUG'|translate}}</md-subheader>
		  <md-list-item class="md-1-line" ng-click="gotoDebug()">
			<i class="material-icons nav-icon">bug_report</i>
			<p>{{'TITLE_DEBUG'|translate}}</p>
		  </md-list-item>
	  </div>

      <!-- Admin -->
      <div ng-if="hasPermission('staff', 'owner')">
		  <md-list-item class="md-1-line" ng-click="gotoBackend()">
			<i class="material-icons nav-icon">dashboard</i>
			<p>{{'BTN_BACKEND'|translate}}</p>
		  </md-list-item>
	  </div>

      <!-- Fineprint -->
	  <md-subheader class="md-no-sticky sidebar-section-title sidebar-legal-title">{{'Legal'|translate}}</md-subheader>
	  <md-list-item class="md-1-line" ng-click="DialogSrvc.openImpressum()">
		<i class="material-icons nav-icon">gavel</i>
		<p class="impressum">{{'IMPRESSUM'|translate}}</p>
	  </md-list-item>
      <md-list-item class="md-1-line" ng-click="DialogSrvc.openTermsOfService()">
		<i class="material-icons nav-icon">description</i>
		<p class="tos">{{'TOS'|translate}}</p>
	  </md-list-item>
	  <md-list-item class="md-1-line" ng-click="DialogSrvc.openPrivacyInformation()">
		<i class="material-icons nav-icon">privacy_tip</i>
		<p class="privacy">{{'PRIVACY'|translate}}</p>
	  </md-list-item>

    </md-list>
  </md-content>
</md-sidenav>
