<md-toolbar class="md-hue-2 lup-top-bar">
  <div class="md-toolbar-tools">

    <i class="material-icons" ng-click="openLeft()">menu</i>

    <md-button class="md-icon-button" aria-label="Nearby" ng-click="gotoReferrer()">
      <i class="material-icons">arrow_back</i>
    </md-button>

	<span flex></span>
    <lup-avatar class="lup-title-avatar" ng-user="data.user"></lup-avatar>
    <h2>{{data.user.displayName()}}</h2>
	<span flex></span>

    <ng-include src="'js/pages/topnav/lup-topnav-notifications.html?v='+V"></ng-include>

	<lup-avatar ng-user="data.ownUser" ng-click="gotoOwnProfile()"></lup-avatar>

  </div>
</md-toolbar>
