<section class="settings-page lup-add-room-page" layout="row" flex>
  <ng-include class="left-sidebar" src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>
  <md-content class="settings-content" flex>
    <ng-include src="'js/pages/locations/header-bar-locations.html?v='+V"></ng-include>
    <form name="addRoomForm" class="settings-form" ng-submit="create()" novalidate>
      <h2>{{'TITLE_ADD_ROOM'|translate}}</h2>
      <md-input-container class="md-block">
        <label>{{'LABEL_ROOM_NAME'|translate}}</label>
        <input ng-model="data.room.name" maxlength="64" required autofocus>
      </md-input-container>
      <md-input-container class="md-block">
        <label>{{'LABEL_ROOM_CATEGORY'|translate}}</label>
        <md-select ng-model="data.room.category" required>
          <md-option ng-repeat="category in data.categories" ng-value="category.cat_id">{{category.cat_name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block">
        <label>{{'LABEL_ROOM_INFO'|translate}}</label>
        <textarea ng-model="data.room.info" maxlength="512" rows="3"></textarea>
      </md-input-container>
      <section class="lup-add-room-map-section" aria-label="{{'TITLE_ROOM_AREA'|translate}}">
        <h3>{{'TITLE_ROOM_AREA'|translate}}</h3>
        <p>{{'INFO_ROOM_AREA'|translate}}</p>
        <div id="lup-add-room-map" class="lup-add-room-map" role="application"></div>
        <p class="lup-add-room-view-radius">{{'LABEL_ROOM_VIEW_RADIUS'|translate}}: {{data.room.viewRadius | number:2}} km</p>
		<p class="lup-add-room-cost">{{'LABEL_ROOM_COST'|translate}}: {{data.room.cost}} {{'TITLE_CREDITS'|translate}}</p>
        <p class="lup-add-room-map-status" ng-bind="data.mapStatus"></p>
      </section>
      <md-button class="md-raised md-primary" type="submit" ng-disabled="addRoomForm.$invalid || !data.mapReady">{{'BTN_CREATE_ROOM'|translate}}</md-button>
    </form>
  </md-content>
</section>
