<md-toolbar class="md-hue-2 lup-top-bar">
	<div class="md-toolbar-tools">

    	<i class="material-icons menutop" ng-click="openLeft()">menu</i>

		<md-button class="md-icon-button" aria-label="Nearby" ng-click="gotoReferrer()">
			<i class="material-icons">arrow_back</i>
		</md-button>

		<div flex md-truncate class="location-top-identity">
			<span class="location-top-icon"><i class="material-icons">forum</i></span>
			<div class="location-top-copy">
				<div class="room-name" ng-bind-html="headerRoomName()"></div>
				<span ng-if="data.room.isSelfInRoom() && inChatRange()"><i class="material-icons">fiber_manual_record</i> Chat aktiv</span>
				<span ng-if="!data.room.isSelfInRoom() || !inChatRange()"><i class="material-icons">place</i> Ort ansehen</span>
			</div>
		</div>

		<md-button class="md-icon-button" ng-if="data.room.isSelfInRoom()" ng-click="leaveChat()" aria-label="Chat verlassen" title="Chat verlassen">
			<i class="material-icons">logout</i>
		</md-button>
    
        <ng-include src="'js/pages/topnav/lup-topnav-notifications.html?v='+V"></ng-include>

		<lup-avatar ng-user="data.ownUser" aria-label="Your own profile" ng-click="gotoOwnProfile()"></lup-avatar>

	</div>
</md-toolbar>
