<div class="location-chat-surface" ng-class="locationVisual(data.room).class" layout="column" flex
 XXin-view="$inview&&chatVisible()">
  <div class="chat-location-atmosphere" aria-hidden="true"><i class="material-icons">{{locationVisual(data.room).icon}}</i></div>
  <div class="chat-msgs md-padding" flex="100">
<!-- 	<div class="msgline"> -->
		<div
		 ng-repeat="msg in data.room.MESSAGES"
		 class="lup-msg"
		 lup-effect="msg.effect"
		 in-view="$inview&&onMessageRead(msg)"
		 in-view-options="{considerPageVisibility:true}"
		 ng-class="{'lup-own-msg':msg.isOwnMessage(),
		 	'lup-system-msg':msg.isSystemMessage(),
		 	'lup-notification-unread':!msg.read,
		 	'lup-other-msg':!msg.isOwnMessage() && !msg.isSystemMessage()}">
		  <div class="head">
			  <p class="msg">
				  
				  <span class="name">{{msg.user.displayName()}}</span>
				  <span class="time">{{msg.time|msgDate}}</span>
				  <span class="message"><span class="messager-inner">{{msg.text}}</span>
				  <lup-avatar
				   ng-user="msg.user"
				   ng-if="!msg.isSystemMessage()"
				   ng-click="gotoProfile(msg.user)"></lup-avatar>
			  </p>
		  </div>
		</div>
		
<!--     </div> -->
  </div>
  <div class="chatbottom" ng-if="data.room.isSelfInRoom() && inChatRange()">
	<div class="chat-input">
		<input type="text" ng-model="data.message" ng-enter="sendMessage()" placeholder="Nachricht schreiben …" aria-label="Nachricht schreiben" />
	</div>
	<div class="chat-button chat-compose-send">
		<button type="button" ng-click="sendMessage()" class="sendbutton" aria-label="Nachricht senden" title="Nachricht senden"><i class="material-icons">done</i></button>
	</div>
  </div>
</div>
