<!-- Designs Image 2 -->
<!--
<md-content class="md-padding layout-fill ng-scope _md layout-column flex" layout="column">
  <div class="singlelocation">
	<div class="room-head">
		<div class="categoryicon" ng-bind-html="data.room.categoryIcon()"></div>
		<div class="room-name">{{data.room.name()}}</div>	  
		<div class="homepage-link"><a style="background:{{data.room.color()}};" target="blank" href="{{data.room.www()}}">{{"zur Website"|translate}}</a></div>
  </div>
  <hr/>
  <div class="lup-room-votes" ng-controller="RoomVoteCtrl">
	<p style="color:{{data.room.color()}};">	
		<span class="rating-procent">{{data.room.rating()|votePercent}}</span>
		<jk-rating-stars max-rating="5" rating="data.room.rating()" read-only="true" on-rating="onVoteRoom(rating)"></jk-rating-stars>
    </p>
    <md-button class="gotobewertungen" ng-click="gotoComments(data.room)">
		<span>{{data.room.comments()}} {{'Bewertungen'|translate}}</span>
		<span style="background:{{data.room.color()}};" class="arrow"></span>
    </md-button>
  </div>
  <div ng-bind-html="data.room.image()"></div>
  <p class="roomdescription">{{data.room.info()}}</p>
  <div class="roominfosingle">
	<a class="address" ng-href="{{mapsHref(data.room)}}" style="display: block;" target="__blank">
		<div style="background:{{data.room.color()}};" class="addressmap"></div>
		<p>{{data.room.street()}}</p>
		<p>{{data.room.zip()}} {{data.room.city()}}</p>
	</a>
	<div class="phone">
		<div style="background:{{data.room.color()}};" class="addressphone"></div>
		<p>{{data.room.phone()}}</p>
	</div>
	<div class="opening">
		<div style="background:{{data.room.color()}};" class="addressopening"></div>
	</div>
  </div>
  <div class="roomcomments">
	<p>{{'Bewertungen'|translate}} ({{data.topComment.totalComments}})</p>
	<md-button style="background:{{data.room.color()}};" ng-click="data.showInput = !data.showInput">{{'Bewerten'|translate}}</md-button>
	
	<ng-include src="'js/pages/comments/lup-new-comment.html?v='+V"></ng-include>
	
	<lup-comment class="comments-preview" ng-if="data.topComment.user()">
		<lup-avatar ng-user="data.topComment.user()" ng-click="gotoProfile(data.topComment.user())"></lup-avatar>
		<lup-comment-text>"{{data.topComment.text()}}"</lup-comment-text>
    </lup-comment>
  </div>
</div>
</md-content>
-->


<!-- V2

<md-content layout="column" flex>
  <div class="singlelocation">

  <div ng-bind-html="data.room.image()"></div>
   <div class="roominfosingle">
	<a class="address" ng-href="{{mapsHref(data.room)}}" style="display: block;" target="__blank">
		<div style="background:{{data.room.color()}};" class="addressmap"></div>
		<p>{{data.room.street()}}</p>
		<p>{{data.room.zip()}} {{data.room.city()}}</p>
	</a>
	<div class="phone">
		<a href="tel:{{data.room.phone()}}"><span style="background:{{data.room.color()}};" class="addressphone"></span></a>

	</div>
	<div class="opening" ng-click="showOpenTimes($event)">
		<div style="background:{{data.room.color()}};" class="addressopening"></div>
	</div>
  </div> 
 
  <p class="roomdescription">{{data.room.info()}}</p>
    <div class="lup-room-votes" ng-controller="RoomVoteCtrl">
	<p style="color:{{data.room.color()}};">	
		<span class="rating-procent">{{data.room.rating()|votePercent}}</span>
		<jk-rating-stars max-rating="5" rating="data.room.rating()" read-only="true" on-rating="onVoteRoom(rating)"></jk-rating-stars>
    </p>
    <md-button class="gotobewertungen" ng-click="gotoComments(data.room)">
		<span>{{data.room.comments()}} {{'Bewertungen'|translate}}</span>
		<span style="background:{{data.room.color()}};" class="arrow"></span>
    </md-button>
  </div>
  <div class="roomcomments">
	<p>{{'Bewertungen'|translate}} ({{data.topComments.length}})</p>
	<md-button style="background:{{data.room.color()}};" ng-click="data.showInput = !data.showInput">{{'Bewerten'|translate}}</md-button>
	
	<ng-include src="'js/pages/comments/lup-new-comment.html?v='+V"></ng-include>
	
	<lup-comment class="comments-preview" ng-repeat="comment in data.topComments">
		<lup-avatar ng-user="comment.user()" ng-click="gotoProfile(comment.user())"></lup-avatar>
		<lup-comment-text>"{{comment.text()}}"</lup-comment-text>
    </lup-comment>
  </div>
</div>
</md-content>
 -->
<!-- The room itself: calm place context first, then the two actions that matter. -->
<md-content class="room-stage" ng-class="locationVisual(data.room).class" layout="column" flex layout-fill>
  <header class="room-stage__header">
    <div class="room-stage__mark" aria-hidden="true"><i class="material-icons">{{locationVisual(data.room).icon}}</i></div>
    <div class="room-stage__identity">
      <span>{{data.room.categoryName() || 'LINKUUP ORT'}}</span>
      <h1>{{data.room.name()}}</h1>
      <p>{{data.room.addressDisplay() || 'Ein Ort für echte Begegnungen.'}}</p>
    </div>
    <div class="room-stage__tools">
      <button type="button" ng-click="showOpenTimes($event)" aria-label="Öffnungszeiten ansehen">
        <i class="material-icons" ng-class="{'room-open': data.room.isOpen() === true, 'room-closed': data.room.isOpen() === false, 'room-unknown': data.room.isOpen() === null}">schedule</i>
      </button>
      <button type="button" ng-click="onShowQRCode()" title="{{'QR_ROOM_DIALOG_TITLE'|translate}}" aria-label="{{'QR_ROOM_DIALOG_TITLE'|translate}}">
        <i class="material-icons" aria-hidden="true">qr_code_2</i>
      </button>
    </div>
  </header>

  <a class="room-stage__route" ng-if="!isRegionalRoom(data.room)" ng-href="{{mapsHref(data.room)}}" target="_blank" rel="noopener">
    <span class="room-stage__route-mark" aria-hidden="true"><i class="material-icons">near_me</i></span>
    <span class="room-stage__route-copy"><small>{{'LUP_VENUE_ROUTE_LABEL'|translate}}</small><strong>{{'LUP_VENUE_ROUTE_HEAD'|translate}}</strong><em>{{data.room.addressDisplay() || ('LUP_VENUE_ROUTE_COPY'|translate)}}</em></span>
    <i class="material-icons room-stage__arrow" aria-hidden="true">arrow_outward</i>
  </a>
  <button class="room-stage__route" ng-if="isRegionalRoom(data.room)" type="button" ng-click="showNearbyLocations()">
    <span class="room-stage__route-mark" aria-hidden="true"><i class="material-icons">location_city</i></span>
    <span class="room-stage__route-copy"><small>{{'LUP_CITY_ROOM_LABEL'|translate}}</small><strong>{{'LUP_CITY_ROOM_EXPLORE_HEAD'|translate}}</strong><em>{{'LUP_CITY_ROOM_EXPLORE_COPY'|translate}}</em></span>
    <i class="material-icons room-stage__arrow" aria-hidden="true">arrow_outward</i>
  </button>

  <button class="room-stage__voices" type="button" ng-click="gotoComments(data.room)">
    <span class="room-stage__voices-count"><i class="material-icons">forum</i><b>{{data.room.comments()}}</b></span>
    <span class="room-stage__voices-copy">
      <small ng-if="!isRegionalRoom(data.room)">{{'LUP_VENUE_VOICES_LABEL'|translate}}</small>
      <small ng-if="isRegionalRoom(data.room)">{{'LUP_CITY_ROOM_VOICES'|translate}}</small>
      <strong ng-if="data.topComments[0] && !data.topComments[0].isBlankComment()">{{data.topComments[0].text()}}</strong>
      <strong ng-if="!data.topComments[0] || data.topComments[0].isBlankComment()">{{'NO_COMMENT_YET'|translate}}</strong>
    </span>
    <i class="material-icons room-stage__arrow" aria-hidden="true">arrow_outward</i>
  </button>

  <section class="room-stage__note" ng-if="data.room.info() && !isRegionalRoom(data.room)">
    <i class="material-icons">tips_and_updates</i><p>{{data.room.info()}}</p>
  </section>
</md-content>
