<!-- FORM -->
<div class="error">{{data.error}}</div>

<section layout="column" layout-padding ng-hide="data.facebookMode">

  <md-input-container class="md-icon-float md-block">
    <label translate="LOGIN_FIELD"></label>
<!--   <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
    <input ng-model="data.email" type="text" ng-disabled="data.facebookMode">
    <div layout="column" class="error">{{data.errors.login}}</div>
  </md-input-container>

  <md-input-container class="md-icon-float md-block">
    <label translate="PASSWORD"></label>
<!--   <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
    <input ng-model="data.password" type="password" ng-disabled="data.facebookMode">
    <div class="error">{{data.errors.password}}</div>
  </md-input-container>

</section>
  
<section layout="row" layout-padding ng-hide="data.facebookMode">
	<p class="signup"><span translate="NEW_MEMBER"></span><span><a href="" ng-hide="data.facebookMode" ng-click="switchToSignUp()" translate="SIGN_UP_HERE"></a></span></p>
	<p class="pwforgot"><a href="" ng-click="gotoRecovery()" translate="FORGOT_PASSWORD"></a></p>
</section>
<section layout="row" ng-hide="data.facebookMode" layout-padding>
  <md-button
   aria-label="Login with this data"
   ng-click="login()"
   class="md-primary md-raised login-button"
   translate="LOGIN"></md-button>
</section>
<section layout="row" ng-hide="data.facebookMode" layout-padding>
	<md-button
	 aria-label="Login with facebook"
     ng-click="initFacebook()"
     class="md-raised facebook-button"
     translate=""><span></span></md-button>
	
	<md-button
	 aria-label="Login with Instagram"
     ng-click="initInstagram()"
     class="md-raised instagram-button"
     translate=""><span></span></md-button>
</section>
<section layout="row" ng-hide="data.facebookMode" layout-padding>
	  <md-button
	   aria-label="Login as guest"
       ng-hide="data.facebookMode"
       ng-click="switchToGuestLogin()"
       class="md-raised guest-button"
       translate="CONTINUE_GUEST"></md-button>
</section>
<!-- END FORM -->

<!-- METHOD CHANGE -->
<section layout="row" layout-padding>


  <!-- FB Button -->
  <div class="fb-login-button" ng-show="data.facebookMode"
       data-max-rows="1"
       data-size="large"
       data-button-type="continue_with"
       data-show-faces="false"
       data-auto-logout-link="false"
       data-use-continue-as="false"
       onlogin="afterFacebookLogin()"></div>	   
</section>

<section layout="row" layout-padding ng-hide="!data.facebookMode">

  <md-button
   aria-label="Back to Login"
   ng-hide="!data.facebookMode"
   ng-click="switchToLogin()"
   class="md-raised backtologin"
   translate="BACK_TO_LOGIN"></md-button>


</section>
<!-- END METHOD CHANGE -->
