<!-- FORM -->
<div class="error">{{data.error}}</div>

<section class="login-credentials" layout="column" layout-padding>

  <md-input-container class="md-icon-float md-block">
    <label translate="LOGIN_FIELD"></label>
<!--   <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
    <input ng-model="data.email" type="text">
    <div layout="column" class="error">{{data.errors.login}}</div>
  </md-input-container>

  <md-input-container class="md-icon-float md-block">
    <label translate="PASSWORD"></label>
<!--   <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
    <input ng-model="data.password" type="password">
    <div class="error">{{data.errors.password}}</div>
  </md-input-container>

</section>
  
<section class="login-links" layout="row" layout-padding>
	<p class="signup"><a href="" ng-click="switchToSignUp()" translate="BTN_REGISTER"></a></p>
	<p class="pwforgot"><a href="" ng-click="gotoRecovery()" translate="FORGOT_PASSWORD"></a></p>
</section>
<section class="login-submit" layout="row" layout-padding>
  <md-button
   aria-label="Login with this data"
   ng-click="login()"
   ng-disabled="data.loginPending"
   class="md-primary md-raised login-button"
   translate="LOGIN"></md-button>
</section>
<section class="login-google" layout="row" layout-padding>
  <md-button
   aria-label="Mit Google fortfahren"
   ng-click="initGoogleAuth()"
   class="md-raised google-button"><span class="google-mark" aria-hidden="true">G</span><span>Mit Google fortfahren</span></md-button>
</section>
<section class="login-guest" layout="row" layout-padding>
	  <md-button
	   aria-label="Login as guest"
       ng-click="switchToGuestLogin()"
       class="md-raised guest-button"
       translate="CONTINUE_GUEST"></md-button>
</section>
<!-- END FORM -->
