<section class="nearby" layout="row" flex ng-cloak>

	<ng-include class="left-sidebar" src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>

	<md-content class="greybg" flex>
	
		<ng-include src="'js/pages/locations/header-bar-locations.html?v='+V"></ng-include>
		
		<div class="search-input-wrap">
			<input
			type="text" class="search-input" placeholder="{{'SEARCH_FOR_LOCATIONS'|translate}}"
			ng-change="searchLocation(data.searchvalue)" ng-model="data.searchvalue" />
		</div>

		<div class="location-categories" aria-label="Kategorien">
			<button type="button" ng-class="{active: isCategoryActive([])}" ng-click="selectCategory([])"><i class="material-icons">apps</i><span>Alle</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['2'])}" ng-click="selectCategory(['2'])"><i class="material-icons">apartment</i><span>Städte<br>&amp; Länder</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['3','4','5','14'])}" ng-click="selectCategory(['3','4','5','14'])"><i class="material-icons">storefront</i><span>Bar<br>&amp; Café</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['11'])}" ng-click="selectCategory(['11'])"><i class="material-icons">music_note</i><span>Club<br>&amp; Disco</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['16','17'])}" ng-click="selectCategory(['16','17'])"><i class="material-icons">account_balance</i><span>Bildung<br>&amp; Uni</span></button>
			<button type="button" ng-class="{active: isCategoryActive(['12','13','18'])}" ng-click="selectCategory(['12','13','18'])"><i class="material-icons">menu_book</i><span>Kultur<br>&amp; Hilfe</span></button>
		</div>

		<div class="location-rail" aria-label="{{'LOCATIONS'|translate}}">
			<div ng-repeat="room in data.visibleRooms" class="lup-room-slide-outer"
					 ng-attr-data-room-id="{{room.id()}}" ng-attr-data-room-category="{{room.category()}}">
	
				<div id="room{{room.id()}}" class="lup-room-slide" flex layout-fill layout="column">
					<article class="lup-discovery-card" ng-class="[categoryVisual(room).class, {'lup-discovery-card--live': room.inChatRange(), 'lup-discovery-card--door-opening': data.doorOpeningRoomId === room.id()}]">
						<span class="lup-discovery-card__door-leaf" aria-hidden="true"></span>
						<div class="lup-discovery-card__hero">
							<button type="button" class="lup-discovery-card__identity" ng-click="maybeGotoRoom(room, $event)" aria-label="Ort öffnen: {{room.name()}}">
								<span class="lup-discovery-card__category">{{room.categoryName()}}</span>
								<strong class="lup-discovery-card__name" ng-class="roomNameClass(room)">{{room.name()}}</strong>
								<span class="lup-discovery-card__place"><i class="material-icons">place</i>{{room.city() || 'LinkUUp Ort'}}</span>
							</button>
							<a class="lup-discovery-card__anchor" ng-href="{{mapsHref(room)}}" target="_blank" rel="noopener" title="{{'NAVIGATE_TO_THIS_PLACE'|translate}}" ng-click="requestLocation(room, $event)">
								<span class="lup-discovery-card__anchor-line" aria-hidden="true"></span>
								<span class="lup-discovery-card__symbol"><i class="material-icons">{{categoryVisual(room).icon}}</i></span>
								<span class="lup-discovery-card__distance"><i class="material-icons">near_me</i><strong ng-if="room.showDistance()">{{room.displayDistance()}}</strong><strong ng-if="!room.showDistance()">Ort öffnen</strong><small>Route ansehen</small></span>
							</a>
						</div>
						<div class="lup-discovery-card__presence">
							<button type="button" class="lup-discovery-card__presence-label" ng-class="{'has-visitors': room.USERS.length > 0}" ng-click="gotoVisitors(room)">
								<span class="lup-discovery-card__presence-dot"></span><b>{{visitorCountLabel(room)}}</b><span>gerade hier</span>
							</button>
							<div class="lup-discovery-card__people" ng-class="{'has-overflow': room.USERS.length > 10}" aria-label="Gäste an diesem Ort">
								<lup-avatar ng-repeat="user in sortedVisitors(room) | limitTo: 10" ng-click="gotoProfile(user)" ng-user="user"></lup-avatar>
								<button type="button" class="lup-discovery-card__more" ng-if="room.USERS.length>10" ng-click="gotoVisitors(room)" title="Alle Anwesenden anzeigen">+{{visitorOverflowLabel(room)}}</button>
							</div>
						</div>
						<section class="lup-discovery-entry" ng-class="{'lup-discovery-entry--locked': !room.inChatRange(), 'is-door-opening': data.doorOpeningRoomId === room.id()}">
							<button type="button" class="lup-discovery-entry__qr" ng-click="showRoomQRCode(room, $event)" title="{{'QR_ROOM_DIALOG_TITLE'|translate}}" aria-label="{{'QR_ROOM_DIALOG_TITLE'|translate}}"><i class="material-icons">qr_code_2</i></button>
							<button type="button" class="lup-discovery-entry__chat lup-discovery-gateway" ng-if="room.inChatRange()" ng-click="enterChatDoor(room)" aria-label="{{'JOIN_CHAT'|translate}}">
								<span class="lup-discovery-gateway__mark" aria-hidden="true"><span class="lup-discovery-gateway__rail"></span><span class="lup-discovery-gateway__core"><i class="material-icons">forum</i></span><span class="lup-discovery-gateway__rail"></span></span>
							</button>
							<div class="lup-discovery-entry__locked" ng-if="!room.inChatRange()" title="{{'CHAT_TOO_FAR'|translate}}" aria-label="{{'CHAT_TOO_FAR'|translate}}"><span class="lup-discovery-entry__lock" aria-hidden="true"><i class="material-icons">lock</i></span></div>
						</section>
					</article>
	
				</div>
	
			</div>
		</div>

	</md-content>

</section>
