<md-toolbar class="lup-top-bar">
  <div class="md-toolbar-tools">
  
    <i class="material-icons" ng-click="openLeft()">menu</i>
  
    <md-button class="md-icon-button" aria-label="Nearby" ng-click="gotoReferrer()">
      <i class="material-icons">arrow_back</i>
    </md-button>

    <h2 ng-click="scrollToTop()" flex md-truncate>{{data.user.displayName()}}</h2>
	
    <ng-include src="'js/pages/topnav/lup-topnav-notifications.html?v='+V"></ng-include>
	
	<lup-avatar ng-user="data.ownUser" aria-label="Profile" ng-click="gotoOwnProfile()"></lup-avatar>

  </div>
</md-toolbar>
