<section layout="row" flex layout-fill>

  <ng-include src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>

  <md-content layout="column" flex>
  
    <ng-include src="'js/pages/profile/header-bar-profile-settings.html?v='+V"></ng-include>
    
    <md-list class="md-dense">
    
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_GLOBAL'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select ng-model="data.profile.JSON.profile_visible" ng-change="changeSetting('profile_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>
      
      <!-- About me -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_ABOUT'|translate}}</md-subheader>
      <md-list-item>
        <md-input-container flex>
          <textarea
           rows="8"
           ng-blur="changeSetting('lup_aboutme')"
           ng-model="data.profile.JSON.lup_aboutme"></textarea>
        </md-input-container>
      </md-list-item>      
      
      
      <!-- Status -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_STATUS'|translate}}</md-subheader>
      <md-list-item>
        <md-input-container flex>
          <input type="text" ng-model="data.status" ng-blur="changeStatus()" />
        </md-input-container>
      </md-list-item>      
      
      <!-- ICQ nummer -->
      <!-- 
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_ICQ'|translate}}</md-subheader>
      
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_ICQ"></h5>
        </div>
        <md-input-container>
          <input
           ng-model="data.profile.JSON.lup_icq"
           type="number"
           ng-blur="changeSetting('lup_icq')"
           ng-enter="changeSetting('lup_icq')" />
        </md-input-container>
      </md-list-item>
      
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_icq_visible"
         ng-change="changeSetting('profile_lup_icq_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>  -->

      <!-- Sexuelle Ausrichtung -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_SEXO'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_SEXO"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_sexo"
           ng-change="changeSetting('lup_sexo')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="men">{{'LBL_SEXO_MEN'|translate}}</md-option>
            <md-option value="women">{{'LBL_SEXO_WOMEN'|translate}}</md-option>
            <md-option value="both">{{'LBL_SEXO_BOTH'|translate}}</md-option>
          </md-select>
      </md-list-item>
    
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_sexo_visible"
         ng-change="changeSetting('profile_lup_sexo_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>

      <!-- Beziehungsstatus -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_SEXI'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_SEXI"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_interest"
           ng-change="changeSetting('lup_interest')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="sexi_searching">{{'sexi_searching'|translate}}</md-option>
            <md-option value="sexi_no_thx">{{'sexi_no_thx'|translate}}</md-option>
            <md-option value="sexi_related">{{'sexi_related'|translate}}</md-option>
            <md-option value="sexi_married">{{'sexi_married'|translate}}</md-option>
            <md-option value="sexi_casual">{{'sexi_casual'|translate}}</md-option>
            <md-option value="sexi_open_relation">{{'sexi_open_relation'|translate}}</md-option>
          </md-select>
      </md-list-item>
    
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_interest_visible"
         ng-change="changeSetting('profile_lup_interest_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>

      <!-- Augenfarbe -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_EYEC'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_EYEC"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_eyecolor"
           ng-change="changeSetting('lup_eyecolor')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option ng-repeat="color in EnumSrvc.eyeColors()"
             value="{{color}}">{{color|translate}}</md-option>
          </md-select>
      </md-list-item>
    
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_eyecolor_visible"
         ng-change="changeSetting('profile_lup_eyecolor_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>

      <!-- Raucher -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_SMOKER'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_SMOKER"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_smokes"
           ng-change="changeSetting('lup_smokes')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="lup_smokes_yes">{{'lup_smokes_yes'|translate}}</md-option>
            <md-option value="lup_smokes_no_care">{{'lup_smokes_no_care'|translate}}</md-option>
            <md-option value="lup_smokes_no">{{'lup_smokes_no'|translate}}</md-option>
          </md-select>
      </md-list-item>
    
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_smokes_visible"
         ng-change="changeSetting('profile_lup_smokes_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>
      
      <!-- Haustier -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_PET'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_PET"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_has_pet"
           ng-change="changeSetting('lup_has_pet')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="yes">{{'yes'|translate}}</md-option>
            <md-option value="no">{{'no'|translate}}</md-option>
          </md-select>
      </md-list-item>
    
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_has_pet_visible"
         ng-change="changeSetting('profile_lup_has_pet_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>
      
      <!-- Drinker -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_DRINKER'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_DRINKER"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_drinks"
           ng-change="changeSetting('lup_drinks')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="lup_drink_never">{{'lup_drink_never'|translate}}</md-option>
            <md-option value="lup_drink_sometimes">{{'lup_drink_sometimes'|translate}}</md-option>
            <md-option value="lup_drink_yes">{{'lup_drink_yes'|translate}}</md-option>
          </md-select>
      </md-list-item>
    
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_drinks_visible"
         ng-change="changeSetting('profile_lup_drinks_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>
      
      <!-- Sportler -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_SPORTY'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_SPORTY"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_sporty"
           ng-change="changeSetting('lup_sporty')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="lup_sporty">{{'lup_sporty'|translate}}</md-option>
            <md-option value="lup_unsporty">{{'lup_unsporty'|translate}}</md-option>
          </md-select>
      </md-list-item>
    
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_sporty_visible"
         ng-change="changeSetting('profile_lup_sporty_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>

      <!-- Koerpergroesse -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_HEIGHT'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_HEIGHT"></h5>
        </div>
        <md-input-container>
          <input
           type="number"
           step="0.01" min="1.20" max="2.50"
           ng-blur="changeSetting('lup_height')"
           ng-model="data.profile.JSON.lup_height" />
        </md-input-container>
      </md-list-item>
    
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select
         ng-model="data.profile.JSON.profile_lup_height_visible"
         ng-change="changeSetting('profile_lup_height_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>

    </md-list>

  </md-content>
  <!-- END CONTENT -->

</section>
