<section layout="row" flex layout-fill>

  <ng-include src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>

  <md-content layout="row" flex>
  
    <ng-include src="'js/pages/profile/header-bar-profile-settings.html?v='+V"></ng-include>
    
    <md-list class="md-dense">
    
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_GLOBAL'|translate}}</md-subheader>

      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_VISIBILITY"></h5>
        </div>
        <md-select ng-model="data.profile.JSON.profile_visible" ng-change="changeSetting('profile_visible')">
          <md-option value="acl_all" translate="SETTING_ALL"></md-option>
          <md-option value="acl_members" translate="SETTING_MEMBERS"></md-option>
          <md-option value="acl_friends" translate="SETTING_FRIENDS"></md-option>
          <md-option value="acl_noone" translate="SETTING_NONE"></md-option>
        </md-select>
      </md-list-item>
      
      <!-- About me -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_ABOUT'|translate}}</md-subheader>
      <md-list-item>
        <md-input-container flex>
          <textarea
           rows="8"
           ng-blur="changeSetting('lup_aboutme')"
           ng-model="data.profile.JSON.lup_aboutme"></textarea>
        </md-input-container>
      </md-list-item>      
      
      
      <!-- Status -->
      <md-subheader class="md-no-sticky">{{'SHD_PROFILE_STATUS'|translate}}</md-subheader>
      <md-list-item>
        <md-input-container flex>
          <input type="text" ng-model="data.status" ng-blur="changeStatus()" />
        </md-input-container>
      </md-list-item>      
      
      <!-- Sexuelle Ausrichtung -->
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_SEXO"></h5>
        </div>
        <div class="md-list-item-inner">
          <md-select
                  ng-model="data.profile.JSON.lup_sexo"
                  ng-change="changeSetting('lup_sexo')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="men">{{'LBL_SEXO_MEN'|translate}}</md-option>
            <md-option value="women">{{'LBL_SEXO_WOMEN'|translate}}</md-option>
            <md-option value="both">{{'LBL_SEXO_BOTH'|translate}}</md-option>
          </md-select>
        </div>
      </md-list-item>

      <!-- Beziehungsstatus -->
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_SEXI"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_interest"
           ng-change="changeSetting('lup_interest')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="sexi_searching">{{'sexi_searching'|translate}}</md-option>
            <md-option value="sexi_no_thx">{{'sexi_no_thx'|translate}}</md-option>
            <md-option value="sexi_related">{{'sexi_related'|translate}}</md-option>
            <md-option value="sexi_married">{{'sexi_married'|translate}}</md-option>
            <md-option value="sexi_casual">{{'sexi_casual'|translate}}</md-option>
            <md-option value="sexi_open_relation">{{'sexi_open_relation'|translate}}</md-option>
          </md-select>
      </md-list-item>

      <!-- Augenfarbe -->
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_EYEC"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_eyecolor"
           ng-change="changeSetting('lup_eyecolor')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option ng-repeat="color in EnumSrvc.eyeColors()"
             value="{{color}}">{{color|translate}}</md-option>
          </md-select>
      </md-list-item>

      <!-- Raucher -->
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_SMOKER"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_smokes"
           ng-change="changeSetting('lup_smokes')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="lup_smokes_yes">{{'lup_smokes_yes'|translate}}</md-option>
            <md-option value="lup_smokes_no_care">{{'lup_smokes_no_care'|translate}}</md-option>
            <md-option value="lup_smokes_no">{{'lup_smokes_no'|translate}}</md-option>
          </md-select>
      </md-list-item>

      <!-- Haustier -->
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_PET"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_has_pet"
           ng-change="changeSetting('lup_has_pet')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="yes">{{'yes'|translate}}</md-option>
            <md-option value="no">{{'no'|translate}}</md-option>
          </md-select>
      </md-list-item>

      <!-- Drinker -->
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_DRINKER"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_drinks"
           ng-change="changeSetting('lup_drinks')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="lup_drink_never">{{'lup_drink_never'|translate}}</md-option>
            <md-option value="lup_drink_sometimes">{{'lup_drink_sometimes'|translate}}</md-option>
            <md-option value="lup_drink_yes">{{'lup_drink_yes'|translate}}</md-option>
          </md-select>
      </md-list-item>

      <!-- Sportler -->
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_SPORTY"></h5>
        </div>
          <md-select
           ng-model="data.profile.JSON.lup_sporty"
           ng-change="changeSetting('lup_sporty')">
            <md-option value="0">{{'LBL_NOT_SPECIFIED'|translate}}</md-option>
            <md-option value="lup_sporty">{{'lup_sporty'|translate}}</md-option>
            <md-option value="lup_unsporty">{{'lup_unsporty'|translate}}</md-option>
          </md-select>
      </md-list-item>

      <!-- Herkunft -->
      <!--
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_ORIGIN"></h5>
        </div>
        <md-input-container class="country-input">
          <md-select
           ng-change="changeSetting('lup_origin')"
           ng-model="data.profile.JSON.lup_origin">
            <md-option
             class="country-option"
             value="null"
             aria-label="None">
              <span>
                <img ng-src="{{CountrySrvc.countryURL('zz')}}" alt="none" />
                <b>{{"UNKNOWN"|translate}}</b>
              </span>
            </md-option>
            <md-option
             class="country-option"
             ng-repeat="country in data.countries"
             value="{{country.id}}"
             aria-label="{{country.text}}">
              <span>
                <img ng-src="{{CountrySrvc.countryURL(country.id)}}" alt="flag" />
                <b>{{country.text}}</b>
              </span>
            </md-option>
          </md-select>
        </md-input-container>
      </md-list-item>
     ->-->
      <!-- Bundesland -->
      <!--
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_STATE"></h5>
        </div>
        <md-input-container flex>
          <input type="text"
           ng-model="data.profile.JSON.lup_state"
           ng-blur="changeSetting('lup_state')" />
        </md-input-container>
      </md-list-item>      
      -->
      <!-- Stadt -->
      <!--
      <md-list-item>
        <div class="md-list-item-text" flex>
          <h5 translate="LBL_PROFILE_CITY"></h5>
        </div>
        <md-input-container flex>
          <input type="text"
           ng-model="data.profile.JSON.lup_city"
           ng-blur="changeSetting('lup_city')" />
        </md-input-container>
      </md-list-item>      
      -->
    </md-list>

  </md-content>
  <!-- END CONTENT -->

</section>
