<md-content
 flex layout-padding
 ng-if="!data.profile.canGloballySee() && !data.user.isSelf()">
  <p>{{'VIEW_NOT_ALLOWED'|translate}}</p>
</md-content>

<md-list class="profile-information profile-about-single" ng-if="data.profile.canGloballySee() || data.user.isSelf()">
  <md-list-item class="md-2-line profile-story-card">
    <md-list-item-text>
      <div class="profile-about-kicker" aria-hidden="true"><i class="material-icons">person_outline</i><span>{{'PROFILE_ABOUT_KICKER'|translate}}</span></div>
      <div class="profile-about-route" aria-hidden="true"><span></span><b></b><em></em><i class="material-icons">location_on</i></div>
      <p class="profile-about-me" ng-if="data.profile.displayAbout()">{{data.profile.displayAbout()}}</p>
      <div class="profile-about-empty" ng-if="!data.profile.displayAbout()">
        <p>{{ 'PROFILE_ABOUT_EMPTY' | translate }}</p>
        <button type="button" ng-if="data.user.isSelf()" ng-click="openProfileSettings($event)">
          <i class="material-icons" aria-hidden="true">edit</i>{{ 'PROFILE_ABOUT_EDIT' | translate }}
        </button>
      </div>
    </md-list-item-text>
  </md-list-item>
</md-list>

<div class="profile-insight-control" ng-if="(data.profile.canGloballySee() || data.user.isSelf()) && data.profileGroups.length">
  <button type="button" class="profile-insight-toggle" ng-click="toggleProfileDetails()" ng-class="{'is-open': data.profileDetailsOpen}" aria-expanded="{{data.profileDetailsOpen}}">
    <span class="profile-insight-toggle-copy">
      <small>{{'PROFILE_INSIGHT_LABEL'|translate}}</small>
      <strong ng-if="!data.profileDetailsOpen">{{'PROFILE_INSIGHT_OPEN'|translate}}</strong>
      <strong ng-if="data.profileDetailsOpen">{{'PROFILE_INSIGHT_CLOSE'|translate}}</strong>
    </span>
    <i class="material-icons profile-insight-chevron" aria-hidden="true">{{data.profileDetailsOpen ? 'expand_less' : 'expand_more'}}</i>
  </button>
</div>

<div class="profile-detail-reveal" ng-if="(data.profile.canGloballySee() || data.user.isSelf()) && data.profileGroups.length" ng-class="{'is-open': data.profileDetailsOpen}">
  <section class="profile-information profile-signal-board">
    <section ng-repeat="group in data.profileGroups track by group.module" class="profile-signal-group">
      <header class="profile-signal-group-heading"><span></span><small>{{group.label|translate}}</small></header>
      <div class="profile-signal-grid">
        <article class="profile-signal" ng-repeat="field in group.fields track by field.key" ng-class="['profile-signal--tone-' + profileFieldTone(field.key), {'profile-signal--denied': field.error, 'profile-signal--private': field.private, 'profile-signal--public': field.visibility === 'public', 'profile-signal--members': field.visibility === 'members', 'profile-signal--friends': field.visibility === 'friends'}]">
          <span class="profile-signal-icon" aria-hidden="true"><i class="material-icons">{{profileFieldIcon(field.key)}}</i></span>
          <div class="profile-signal-copy">
            <small>{{field.label|translate}}</small>
            <strong ng-if="field.private"><i class="material-icons" aria-hidden="true">visibility_off</i>{{'PROFILE_FIELD_PRIVATE'|translate}}</strong>
            <strong ng-if="!field.private && field.error"><i class="material-icons" aria-hidden="true">visibility_off</i>{{field.error}}</strong>
            <strong ng-if="!field.private && !field.error" ng-bind-html="renderProfileSetting(field)"></strong>
          </div>
        </article>
      </div>
    </section>
  </section>
</div>
