<md-content
 flex layout-padding
 ng-if="!data.profile.canGloballySee()">
  <p>{{'VIEW_NOT_ALLOWED'|translate}}</p>
</md-content>

<md-list class="profile-information" ng-if="data.profile.canGloballySee()">

  
  <md-list-item class="md-2-line full" ng-if="data.profile.displayAbout()">
    <md-list-item-text>
       <h5 translate="SHD_PROFILE_ABOUT"></h5>
       <p class="profile-about-me">{{data.profile.displayAbout()}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-repeat="(key, value) in data.profile.JSON">
    <md-list-item-text>
      <h5>{{key|translate}}</h5>
      <p ng-bind-html="RenderSrvc.displaySetting(key, value)"></p>
    </md-list-item-text>
  </md-list-item>

<!-- 
   <md-list-item class="md-2-line half" ng-if="data.profile.hasCountry()">
    <md-list-item-text>
       <h5 translate="COUNTRY"></h5>
       <p class="profile-about-me"><img ng-src="{{data.user.countryURL()}}" class="country-image" /></p>
    </md-list-item-text>
  </md-list-item>
   
  
  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_sexo')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_sexo')">
      <h5 translate="SEXUAL_ORIENTATION"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_sexo')">
       <h5 translate="SEXUAL_ORIENTATION"></h5>
       <p>{{data.profile.displaySexO()}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_interest')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_interest')">
      <h5 translate="SEXUAL_INTEREST"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_interest')">
       <h5 translate="SEXUAL_INTEREST"></h5>
       <p>{{data.profile.displayInterest()}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_eyecolor')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_eyecolor')">
      <h5 translate="EYE_COLOR"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_eyecolor')">
       <h5 translate="EYE_COLOR"></h5>
       <p>{{data.profile.displayEyeColor()}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_height')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_height')">
      <h5 translate="PERSON_HEIGHT"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_height')">
       <h5 translate="PERSON_HEIGHT"></h5>
       <p>{{data.profile.displayHeight()}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_has_pet')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_has_pet')">
      <h5 translate="LBL_PROFILE_PET"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_has_pet')">
       <h5 translate="LBL_PROFILE_PET"></h5>
       <p>{{data.profile.displayEnum('lup_has_pet')}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_sporty')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_sporty')">
      <h5 translate="LBL_PROFILE_SPORTY"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_sporty')">
       <h5 translate="LBL_PROFILE_SPORTY"></h5>
       <p>{{data.profile.displayEnum('lup_sporty')}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_drinks')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_drinks')">
      <h5 translate="LBL_PROFILE_DRINKER"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_drinks')">
       <h5 translate="LBL_PROFILE_DRINKER"></h5>
       <p>{{data.profile.displayEnum('lup_drinks')}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_smokes')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_smokes')">
      <h5 translate="LBL_PROFILE_SMOKER"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_smokes')">
       <h5 translate="LBL_PROFILE_SMOKER"></h5>
       <p>{{data.profile.displayEnum('lup_smokes')}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.hasOrigin()">
    <md-list-item-text ng-if="!data.profile.canSee('lup_origin')">
      <h5 translate="LBL_PROFILE_ORIGIN"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.hasOrigin()">
       <h5 translate="LBL_PROFILE_ORIGIN"></h5>
       <p><img ng-src="{{CountrySrvc.countryURL(data.profile.originId())}}" class="country-image" /></p>
    </md-list-item-text>
  </md-list-item>
  
  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_height')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_height')">
      <h5 translate="LBL_PROFILE_HEIGHT"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_height')">
       <h5 translate="LBL_PROFILE_HEIGHT"></h5>
       <p>{{CountrySrvcdata.profile.displayHeight()}}</p>
    </md-list-item-text>
  </md-list-item>
  
  

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_state')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_state')">
      <h5 translate="LBL_PROFILE_STATE"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_state')">
       <h5 translate="LBL_PROFILE_STATE"></h5>
       <p>{{data.profile.JSON.lup_state}}</p>
    </md-list-item-text>
  </md-list-item>

  <md-list-item class="md-2-line half" ng-if="data.profile.has('lup_city')">
    <md-list-item-text ng-if="!data.profile.canSee('lup_city')">
      <h5 translate="LBL_PROFILE_CITY"></h5>
      <p translate="VIEW_NOT_ALLOWED"></p>
    </md-list-item-text>
    <md-list-item-text ng-if="data.profile.has('lup_city')">
       <h5 translate="LBL_PROFILE_CITY"></h5>
       <p>{{data.profile.JSON.lup_city}}</p>
    </md-list-item-text>
  </md-list-item>
-->
</md-list>
