<section
 ng-class="{'has-own-user':data.user.isSelf()}"
 class="profile-page" layout="row" flex>

  <ng-include class="left-sidebar"src="'js/pages/sidenav/lup-sidenav.html?v='+V"></ng-include>

  <md-content layout="column" class="user-profile-page" flex>

    <div class="profile-ambient-map" aria-hidden="true">
      <span class="profile-ambient-route profile-ambient-route-one"></span>
      <span class="profile-ambient-route profile-ambient-route-two"></span>
      <span class="profile-ambient-route profile-ambient-route-three"></span>
      <span class="profile-ambient-node profile-ambient-node-one"></span>
      <span class="profile-ambient-node profile-ambient-node-two"></span>
      <span class="profile-ambient-node profile-ambient-node-three"></span>
      <span class="profile-ambient-focus"></span>
      <span class="profile-ambient-signal"></span>
    </div>
  
    <ng-include class="inc-top-profile" src="'js/pages/profile/header-bar-profile.html?v='+V"></ng-include>
      
	<!-- CONTENT -->
    <!-- Other's avatar -->
	<div class="avatar-bg" ng-class="{'profile-online': data.user && data.user.isSelf() && data.authenticated}">
		<div class="avatar" ng-if="!canUploadProfile()">
		  <lup-avatar
		   class="large-avatar"
		   ng-user="data.user"></lup-avatar>
		</div>

    <!-- Own avatar with upload -->

		<div class="avatar" ng-if="canUploadProfile()">
			  <div
			   ng-init="initConfig({maxSize: 10485760})"
			   ng-controller="GDOUploadCtrl"
			   flow-init="{target: data.avatarAction, singleFile: true, fileParameterName: 'avatar_file_id', withCredentials: true, testChunks: false, query: {flowField:'avatar_file_id'}, allowDuplicateUploads: true}"
			   flow-file-progress="onFlowProgress($file, $flow, $message);"
			   flow-file-success="onFlowSuccess($file, $flow, $message);"
			   flow-file-removed="onRemoveFile($file, $flow);"
			   flow-file-error="onFlowError($file, $flow, $message);"
				   xxxflow-error="onFlowError($file, $flow, $message);"
				   flow-files-submitted="onFlowSubmitted($flow);">
					 <!--<i class="material-icons edit" flow-btn>edit</i>-->
					 <lup-avatar flow-btn class="large-avatar" ng-user="data.user"></lup-avatar>
				  </div>
		</div>
		<div class="profile-identity" ng-if="data.user">
			<h2>{{data.user.displayName()}}</h2>
			<span class="profile-role" ng-style="profileRoleStyle(data.user)">{{profileRole(data.user)|translate}}</span>
		</div>
	</div>
		
		<div class="user-top-information" ng-class="{ownuserprofile: data.user.isSelf()}">
			<div class="countitems profile-stats">
				<button type="button" class="countitem stat-locations profile-stat-pull" lup-pull-action="profilePullLocations()" lup-pull-open="profileOpenLocations()"><span class="profile-stat-signal" aria-hidden="true"></span><span class="profile-stat-pull-lever"><i class="material-icons">place</i></span><span class="count">{{data.user.visits()}}</span><span class="item">{{'LOCATIONS'|translate}}</span></button>
				<button type="button" class="countitem stat-ups profile-stat-pull profile-up-pull" lup-pull-action="profilePullUp()" lup-pull-open="profileOpenUps()" ng-class="{'is-working': data.profileUpWorking}" title="Gemeinsamer Moment"><span class="profile-stat-signal" aria-hidden="true"></span><span class="profile-stat-pull-lever profile-up-pull-lever"><i class="material-icons">group</i></span><span class="count">{{data.user.likes()}}</span><span class="item">{{"UP's"|translate}}</span></button>
				<button type="button" class="countitem stat-friends profile-stat-pull" lup-pull-action="profilePullFriends()" lup-pull-open="profileOpenFriends()" lup-pull-effect="is-friend-gesture" title="{{profileFriendActionKey()|translate}}"><span class="profile-stat-signal" aria-hidden="true"></span><span class="profile-stat-pull-lever"><i class="material-icons">{{profileFriendActionIcon()}}</i></span><span class="count">{{data.user.friends()}}</span><span class="item">{{profileFriendActionKey()|translate}}</span></button>
				<button type="button" class="countitem stat-cuddles profile-stat-pull" lup-pull-action="profilePullCuddles()" lup-pull-open="profileOpenCuddles()" title="{{'CUDDLES'|translate}}"><span class="profile-stat-signal" aria-hidden="true"></span><span class="profile-stat-pull-lever"><i class="material-icons">qr_code_2</i></span><span class="count">{{data.user.cuddles()}}</span><span class="item">{{'CUDDLES'|translate}}</span></button>
				<button type="button" ng-if="!data.user.isSelf()" class="countitem stat-message profile-stat-pull" aria-label="{{'PROFILE_ACTION_MESSAGE'|translate}}" title="{{'PROFILE_ACTION_MESSAGE'|translate}}" lup-pull-action="profilePullMessage()" lup-pull-open="profileOpenMessage()" lup-pull-effect="is-message-gesture"><span class="profile-stat-signal" aria-hidden="true"></span><span class="profile-stat-pull-lever"><i class="material-icons">forum</i></span><span class="count count-spacer" aria-hidden="true">&nbsp;</span><span class="item">{{'PROFILE_ACTION_MESSAGE'|translate}}</span></button>
			</div>
		</div>
	
	<div class="cb"></div>

	  <div class="profile-section-nav" ng-if="data.user && (data.user.isMember() || data.user.isSelf())" role="tablist" aria-label="Profilbereiche">
		<button type="button" ng-class="{active: data.selectedTab === 0}" ng-click="data.selectedTab = 0" role="tab">
		  <i class="material-icons">person_outline</i><span>Über mich</span>
		</button>
		<button type="button" ng-class="{active: data.selectedTab === 1}" ng-click="data.selectedTab = 1" role="tab">
		  <i class="material-icons">photo_library</i><span>Galerie</span>
		</button>
	  </div>
	
	  <md-tabs
	   ng-if="data.user && (data.user.isMember() || data.user.isSelf())"
	   class="information-tabs"
       md-selected="data.selectedTab"
	   md-border-bottom
       md-stretch-tabs="always"
       layout="column">

		  <md-tab
		   label="Über mich"
		   flex layout="column"
		   md-on-select="loadInformation()">
			<ng-include src="'js/pages/profile/lup-profile-information.html?v='+V"></ng-include>
		  </md-tab>
		  
<!-- 	  <md-tab
           label="{{'TAB_COURSE'|translate}}"
           md-on-select="showCourse()"
           flex layout="column">
			<ng-include src="'js/pages/profile/lup-profile-course.html?v='+V"></ng-include>
		  </md-tab>  -->
		  
		  <md-tab
		   label="Galerie"
		   md-on-select="showGallery()"
		   flex layout="column">
			<ng-include src="'js/pages/profile/lup-profile-gallery.html?v='+V"></ng-include>
		  </md-tab>
		  
	  </md-tabs>

	  <div class="only-registered" ng-if="(data.user.isSelf()) && !data.ownUser.isMember()">
		{{'ERR_ONLY_REGISTERED'|translate}}
	  </div>

  </md-content>
  <!-- END CONTENT -->

</section>
